<div class="banner">
  <%= video_tag 'monurental.mp4', autoplay: :autoplay, loop: :loop, muted: :muted %>
  <div class="container">
    <h1>Have you ever imagine partying in an historic place?</h1>
    <p>Rent a <strong>monument</strong></p>
    <%= link_to "Book now", monuments_path, class: "btn btn-primary" %>
  </div>
</div>
